.header {
    width:100%;
    font-size: 80px;
    text-align: start;
    color: rgb(103,95,72);
    font-style: italic;
    margin:100px 80px 0;
 }
 .main-img{
        width:99%;
        height:800px;
        border-radius: 20px;
    }
.main-card{
    position:absolute;
    top:15%;
    right: 10%;
    border-radius: 50%;
    border:1px solid red;
}
.main-card-img{
    width:200px;
    height: 200px;
    border-radius: 50%;

}

.pet-button{
    position: absolute;
    display: flex;
    left:15%;
    bottom: -40%;
    justify-content: space-around;
    width:70%;
    height: 210px;
        border-radius: 20px;
        align-items: center;
        background-color:  rgb(103,95,72);
}

.pet-btn{
     height:70px;
    font-size:25px;
    border-radius: 20px;
    text-align: center;
    color:black;
    width:27%;
    align-items: center;
    margin:10px 10px;
    line-height: 70px;
}
.pet-img{
    height:50%;
    width:50px;
}
.main-tips{
    background-color: bisque;
    padding-bottom: 10px;
    margin-top: 250px;
    margin-bottom: 50px;
}
.tips-list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.tips-img{
    width:100px;
}
